@import "variables.scss";
body{
  color: $text-dark;
  p{
    color: $text-dark;
    margin-bottom: 20px;
    &.subtitle{
      text-align: center;
      font-size: 0.9em;
      line-height: 1.3;
      color: $text-med;
      font-style: italic;
      padding: 3px 0 15px;
    }
  }
  a{
    color: $text-dark;
    &:hover{
      text-decoration: underline;
      color: $popColor;
    }
  }
}
.bg{
  background-color: $gray-bg;;
  h2{
    color: $blue;
  }
}
h2, h3, h4{
  font-weight: bold;
  color: $text-dark;
}
h4{
  color: $blue;
}