$turq: #63dafb;
$green: #8BFFAA;
$blue: #05199b;
$black: #000;
$white: #fff;
$gray-bg: #f7f7f7;

$text-dark: $black;
$text-med: #656565;
$text-light: #d8d8d8;
$popColor: $green;

$tablet-max: 767px;
$phone-max: 420px;