@import "../../styles/variables.scss";

.apply-banner.footer{
  background-color: $popColor;
  color: $black;
  padding: 50px;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  margin-top: 0;
  a{
    color: $white;
  }

}