body {
    color: #3e3e3e;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
    font-family: 'open sans';
    background-color: #fbfbfb;
}

body a {
    color: #9f1719;
}

#button {
    display: block;
    width: 160px;
    height: 55px;
    background: #f0f0f0;
    padding: 15px 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    box-shadow: 2px 2px #888888;
}

.about p:nth-child(n+7):nth-child(-n+12){
    margin-left: 40px;
}

a:focus, a:hover {
    color: #9f1719;
}

.navbar,
.navbar-default {
    background-image: none !important;
    background-color: white;
}

 .navbar-default .navbar-nav>li>a {
    font-size: 14px;
    color: #3e3e3e;
    line-height: 19.6px;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    font-weight: bolder;
    color: #333;
}

/* .navbar-default .navbar-brand:focus, */

.navbar-default .navbar-nav>li>a:hover {
    color: #9f1719;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #9f1719;
}

.navbar-brand {
    padding: 18px 15px;
}

.navbar-nav>li>a {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    color: white;
    text-align: center;
}

.footer a {
    color: white; 
    text-decoration: none !important;;
}

.apply-header .header {
    height: 120px;
}

header.main-header {
    margin-bottom: 90px;
}

.header {
    width:100%;
    height: 60px;
}


.header {
    line-height: 1.1;
    text-align: center;
    width: 60%; /* 70% of the parent*/
    margin:10px auto;
}

.header p {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 700;
    /* font-size: 2em; */
}

.loading {
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    padding-top: 60px;
    color: #ababc8;
}

.apply-header {
    margin-bottom: -80px;
}

.apply-one {
    margin-left: 50px;
}

.apply-two {
    margin-left: 50px;
    margin-bottom: 30px;
}

h2 {
    text-align: center; 
}

iframe {
    width: 100%;
    height: 1050px;
}
 
ol li {
     font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
}

.about p:nth-of-type(15) {
    text-decoration: underline; 
    color: red;
}

.links{
    text-align: center
}

.links p a{
    font-size: 16px;
    text-decoration: underline;
}

.links p {
    padding: 5px;
}

.links p:last-child {
    padding-bottom: 60px;
}

ol li {
    font-size: 16px;
}

.page-content li {
    font-size: 16px;
}

.page-content a {
    text-decoration: underline;
    cursor: pointer;
}

.page-content{
    margin-bottom: 60px;
}

.navbar-default {
    border-color: white!important;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px white;
    box-shadow: inset 0 1px 0 white, 0 1px 5px white;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

/* Desktops and laptops ----------- */
    /* Large screens ----------- */
    @media only screen  and (max-width : 1025px) {

        .apply-one {
            margin-left: 0;
        }
        
        .apply-two {
            margin-left: 25px;
            margin-bottom: 15px;
        }

        .container {
            padding: 0 35px;
        }

        .header {
            padding-top: 100px;
            /* width: 80%;
            height: 80px; */
        }

        iframe {
            height: 1200px;
        }
    }

  
    
    @media only screen  and (max-width : 500px) {
            .page-content {
                margin-bottom: 120px;
            }
            
            .footer p {
                font-size: 10px;
            }

            .header.apply {
                height: 0px;
            }

            .header {
                padding-bottom: 30px;
                padding-top: 0px;
            }

            .header h1 {
                font-size: 3em;
                padding-top: 20px;
            }

            .home {
                margin: 50px 0px 20px 0px;
            }
            

            iframe {
                height: 1550px;
            }

            .links p {
                padding: 10px;
            }

            .navbar-default .navbar-brand {
                font-size: 15px;
            }
            
        }

  
    @media only screen  and (max-width : 320px) {  
            .container {
                padding: 0 15px;
            }
        }
 
/* ----------- Retina Screens -----------
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
   
} */

/* Portrait and Landscape */
/* @media screen 
  and (min-device-width: 700px) 
  and (max-device-width: 1200px)  {
    .break {
        margin: 55px 150px 30px 150px;
        border-bottom:12px solid pink;
    }
} */

