@import "../../styles/variables.scss";
.home{
  .banner{
    margin-top: 50px;
    padding: 0px 0 430px;
    background: url(../../images/homepageimage.png) center bottom no-repeat;
    background-size: contain;
    h2{
      margin: 0 auto;
    }
  }
  .wrap{
    padding: 60px 0;
    background-color: $gray-bg;
    h2{
      color: $blue;
    }
    .body{
      padding: 30px 0px;
      text-align: center;
    }
  }
  .types{
    display: flex;
    justify-content: space-between;
    .type{
      padding: 15px 20px 15px 15px;
      background-color: $white;
      margin-right: 35px;
      flex: 1;
      &:last-of-type{
        margin-right: 0;
      }
      h4{
        text-align: center;
      }
      .list{
        color: $text-dark;
        font-size: 0.85rem;
        font-weight: 300;
        li{
          padding-bottom: 15px;
        }
      }

    }
  }
}