@import "../../styles/variables.scss";
.why{
  padding-top: 42vw;
  background: url(../../images/capitol.jpg) top center no-repeat;
  background-size: 100% auto;
  h2{
    text-align: left;
    margin-bottom: 20px;
  }
  p{
    margin: 10px 10px 20px;
  }
}
.why-page.content-2{
  .page{
    padding-top: 40px;
  }
}

@media(max-width: $tablet-max){
  .why-page.content-2{
    .page{
      padding-top: 80px;
    }
  }
  .why{
    padding-top: 150px;
    p{
      margin-right: 0;
      margin-left: 0;
    }

  }
}