
.why{
  padding-top: 42vw;
  background: url(http://placekitten.com/1000/400) top center no-repeat;
  background-size: 100% auto;
  h2{
    text-align: left;
    margin-bottom: 20px;
  }
  p{
    margin: 10px 10px 20px;
  }
}
.why-page{
  .page{
    padding-top: 0;
  }
}