/* .navbar {
    position: fixed;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
} */
/* 
@media (min-width: 1200px) {
    div.container{
        width: 100% !important;
        border: pink 10px solid !important;
    }
} */

/* .container {
    border: 10px solid green  !important;

} */
